@import "https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@700&display=swap";
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace;
  font-size: 1em;
}
a {
  background-color: #0000;
}
abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="reset"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="reset"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  white-space: normal;
  max-width: 100%;
  padding: 0;
  display: table;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template,
[hidden] {
  display: none;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -moz-font-feature-settings: “liga” on;
  letter-spacing: -0.01rem;
}
*,
:before,
:after {
  box-sizing: inherit;
}
.col-1 {
  float: left;
  width: 8.33333%;
  margin-right: 24px;
}
.col-1:nth-child(12n) {
  margin-right: 0;
}
.col-2 {
  float: left;
  width: 16.6667%;
  margin-right: 24px;
}
.col-2:nth-child(12n) {
  margin-right: 0;
}
.col-3 {
  float: left;
  width: 25%;
  margin-right: 24px;
}
.col-3:nth-child(12n) {
  margin-right: 0;
}
.col-4 {
  float: left;
  width: 33.3333%;
  margin-right: 24px;
}
.col-4:nth-child(12n) {
  margin-right: 0;
}
.col-5 {
  float: left;
  width: 41.6667%;
  margin-right: 24px;
}
.col-5:nth-child(12n) {
  margin-right: 0;
}
.col-6 {
  float: left;
  width: 50%;
  margin-right: 24px;
}
.col-6:nth-child(12n) {
  margin-right: 0;
}
.col-7 {
  float: left;
  width: 58.3333%;
  margin-right: 24px;
}
.col-7:nth-child(12n) {
  margin-right: 0;
}
.col-8 {
  float: left;
  width: 66.6667%;
  margin-right: 24px;
}
.col-8:nth-child(12n) {
  margin-right: 0;
}
.col-9 {
  float: left;
  width: 75%;
  margin-right: 24px;
}
.col-9:nth-child(12n) {
  margin-right: 0;
}
.col-10 {
  float: left;
  width: 83.3333%;
  margin-right: 24px;
}
.col-10:nth-child(12n) {
  margin-right: 0;
}
.col-11 {
  float: left;
  width: 91.6667%;
  margin-right: 24px;
}
.col-11:nth-child(12n) {
  margin-right: 0;
}
.col-12 {
  float: left;
  width: 100%;
  margin-right: 24px;
}
.col-12:nth-child(12n) {
  margin-right: 0;
}
@font-face {
  font-family: Averta Std;
  src: url(../assets/fonts/AvertaStd-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Averta Std;
  src: url(../assets/fonts/AvertaStd-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Averta Std;
  src: url(../assets/fonts/AvertaStd-Semibold.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Averta Std;
  src: url(../assets/fonts/AvertaStd-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
.avatar {
  align-items: center;
  gap: 16px;
  display: flex;
}
.avatar__img img {
  border-radius: 50%;
  width: 54px;
  height: 54px;
}
.avatar__title {
  color: #079d56;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.avatar__desc {
  color: #797979;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.tag {
  background-color: #4e225129;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 20px;
  display: inline-block;
}
.tag__text {
  text-transform: uppercase;
  color: #4e2251;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.form-gap {
  gap: 16px;
  display: flex;
}
input {
  border: 1px solid #797979;
  border-radius: 8px;
  padding: 16px;
}
input:focus + label,
input:valid + label,
input.has-text + label {
  color: #797979;
  background: #079d56;
  padding: 0 5px;
  font-size: 12px;
  top: -5px;
  left: 10px;
}
.input_wrap {
  width: auto;
  height: auto;
  position: relative;
}
.input_wrap label {
  color: #797979;
  pointer-events: none;
  padding: 16px;
  font-family: arial;
  font-size: 16px;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  left: 0;
}
.input_wrap label img {
  margin-right: 12px;
}
.input_wrap input:focus {
  outline: none;
}
.button__container {
  flex-wrap: wrap;
  gap: 36px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}
.button {
  text-transform: uppercase;
  color: #fff;
  background: #079d56;
  border-radius: 8px;
  margin: 0;
  padding: 24px;
  font-family: Averta Std, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
  display: inline-block;
}
.button.no-color {
  color: #079d56;
  background-color: #0000;
}
.button.bigger {
  padding: 17px 24px;
}
.button.border {
  border: 1px solid #4e2251cc;
}
.button.opacity {
  background-color: #4e2251cc;
}
.button.white {
  color: #079d56;
  background-color: #fff;
}
.card-resources {
  background-color: #fff;
  border-radius: 48px 8px;
  flex-grow: 1;
  width: 100%;
  max-width: 397px;
  box-shadow: 0 4px 4px #0000000a;
}
.card-resources__img img {
  object-fit: cover;
  border-radius: 48px 8px 0 0;
  height: 158px;
}
.card-resources__text {
  padding: 24px;
}
.card-resources__title {
  color: #079d56;
  margin: 0 0 16px;
  font-family: Averta Std, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}
.default__title {
  color: #079d56;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.default__title.smaller {
  font-size: 32px;
}
.default__desc {
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.header {
  padding: 17px 0;
}
.header__container {
  max-width: 1240px;
  margin: 0 auto;
}
.header__container .button {
  text-transform: none;
  color: #f6f6f6;
  letter-spacing: 0.1px;
  background: #079d56;
  border-radius: 360px;
  padding: 10px 24px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}
.header__container .button:hover {
  color: #fff;
}
.header .navbar-nav {
  gap: 24px;
}
.header .navbar,
.header .navbar .container-fluid {
  padding: 0;
}
.header .navbar .navbar-toggler {
  appearance: none;
  outline: none;
  padding: 0;
}
.header .navbar .navbar-toggler:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
.header .navbar .navbar-toggler-icon img {
  width: 32px;
  height: 32px;
}
.header .nav-link {
  color: #079d56;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 35.84px;
  text-decoration: none;
}
.header .menu-has-children {
  position: relative;
}
.header .menu-has-children .submenu {
  z-index: 2147483647;
  background: #fff;
  width: 300px;
  padding: 0 10px;
  list-style: none;
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
}
.header .menu-has-children:hover .submenu {
  display: block;
}
.hero {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__container {
  color: #fff;
  justify-content: center;
  gap: 48px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 80px 0 48px;
  display: flex;
}
.hero__form {
  background-color: #fff;
  border-radius: 16px;
  padding: 64px;
}
.hero__form .default__title {
  margin-bottom: 32px;
}
.hero__form .contact__form {
  border-radius: 0;
  padding: 0;
}
.hero__form .input_wrap {
  width: 100%;
}
.hero__form .input_wrap input {
  width: 100%;
  max-width: 100%;
}
.hero__form button {
  width: 100%;
  display: block;
}
.hero__logo {
  background-color: #fff;
  width: 219px;
  height: 76px;
  margin-bottom: 24px;
}
.hero__logo img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.hero .tag {
  background: 0 0;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
  padding: 0;
  display: flex;
}
.hero .tag__button {
  color: #fff;
  text-transform: uppercase;
  background: #5db77a;
  border-radius: 8px;
  margin: 0 16px 0 0;
  padding: 12px 20px;
  font-family: Averta Std, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.hero .tag__text {
  color: #5db77a;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.hero__img {
  max-width: 591px;
  height: auto;
}
.hero__img img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.hero__content {
  max-width: 601px;
}
.hero__content .button--container {
  gap: 16px;
  display: flex;
}
.hero__content .button.no-color {
  color: #fff;
}
.hero__title {
  color: #079d56;
  margin: 0 0 16px;
  font-family: Averta Std, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.hero .default__desc {
  color: #797979;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}
.resources {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
.resources__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  display: flex;
}
.resources .default__title {
  color: #fff;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.resources__content {
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.benefits {
  background-color: #e9fbf6;
  margin-top: 80px;
  padding: 80px 0;
}
.benefits__container {
  flex-wrap: wrap;
  gap: 48px;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 220px;
  display: flex;
}
.benefits__img {
  width: 100%;
  max-width: 596px;
}
.benefits__img img {
  object-fit: cover;
  border: 8px solid #fff;
  border-radius: 16px;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.benefits__content {
  max-width: 596px;
}
.benefits .default__title {
  margin-bottom: 16px;
}
.benefits .default__subtitle {
  color: #797979;
  margin: 0 0 16px;
  font-family: Averta Std, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}
.benefits .default__desc {
  color: #797979;
  margin-bottom: 16px;
}
.benefits .items__container {
  flex-wrap: wrap;
  gap: 24px;
  display: flex;
}
.benefits .items__container .item {
  background: #fff;
  border: 1px solid #f6f6f6;
  border-radius: 48px 8px;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 397px;
  padding: 32px 40px;
  display: flex;
  box-shadow: 0 4px 4px #0000000a;
}
.benefits .items__container .item p {
  color: #383838;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.conditions {
  padding: 80px 0;
}
.conditions__container {
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.conditions__content {
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 819px;
  display: flex;
}
.conditions__content .tag {
  background: #fbba0029;
}
.conditions__content .tag__text {
  color: #ff8c23;
}
.conditions__title {
  color: #079d56;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.conditions__items {
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 397px;
  display: flex;
}
.conditions__items .item {
  background: #fbba00;
  border: 1px solid #f6f6f6;
  border-radius: 48px 8px;
  width: 100%;
  max-width: 397px;
  padding: 32px 40px;
  box-shadow: 0 4px 4px #0000000a;
}
.conditions__items .item p {
  color: #383838;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.gallery {
  padding: 80px 0;
}
.gallery__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.gallery__container .tag {
  background: #00916814;
}
.gallery__container .tag__text {
  color: #079d56;
}
.gallery__container .default__title {
  margin: 24px 0;
}
.gallery__container .default__desc {
  color: #797979;
  margin-bottom: 48px;
}
.gallery__content {
  width: 100%;
}
.gallery__card {
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 12px;
}
.gallery__card img {
  border: 1px solid #f6f6f6;
  border-radius: 8px;
  width: 100%;
  height: 209px;
  box-shadow: 0 4px 4px #0000000a;
}
.slide__container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}
.slide__container .arrow-slide {
  cursor: pointer;
  margin-top: -50px;
}
.slide__container .slick-dots {
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding: 0;
  list-style: none;
  display: flex;
}
.slide__container .slick-dots li {
  cursor: pointer;
  margin: 0 5px;
  padding: 0;
  display: inline-block;
  position: relative;
}
.slide__container .slick-dots li button {
  cursor: pointer;
  background: 0 0;
  border: 0;
  outline: none;
  font-size: 0;
  line-height: 0;
  display: block;
}
.slide__container .slick-dots li button:before {
  content: "";
  text-align: center;
  opacity: 1;
  color: #fff;
  border: 1px solid #079d56;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-family: slick;
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide__container .slick-dots li.slick-active button:before {
  background: #079d56;
}
.location {
  background: #009168;
  padding: 80px 0;
}
.location__container {
  flex-wrap: wrap;
  gap: 48px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.location__content {
  width: 100%;
  max-width: 596px;
}
.location__content .location__title {
  color: #aecc53;
  margin: 0 0 24px;
  font-family: Averta Std, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.location__content .default__desc {
  color: #fff;
  margin: 0 0 48px;
  font-family: Averta Std, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}
.location__content .item {
  background: #fff;
  border: 1px solid #f6f6f6;
  border-radius: 48px 8px;
  align-items: center;
  margin-bottom: 24px;
  padding: 32px 40px;
  display: flex;
  box-shadow: 0 4px 4px #0000000a;
}
.location__content .item p {
  margin: 0 0 0 24px;
  font-family: Averta Std, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}
.location .location__map {
  width: 100%;
  max-width: 596px;
}
.location .location__map .nav-tabs {
  border: none;
}
.location .location__map .nav-link {
  color: #fff;
  text-transform: uppercase;
  background: #079d56;
  border: none;
  margin: 0;
  padding: 16px 24px;
  font-family: Averta Std, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.location .location__map .nav-link.active {
  color: #079d56;
  background: #fff;
}
.location .location__map .tab-pane {
  border: 8px solid #fff;
  border-radius: 0 16px 16px;
  width: 100%;
  height: 585px;
}
.store {
  background: #fbba00;
  padding: 80px 0;
}
.store__container {
  max-width: 1240px;
  margin: 0 auto;
}
.store__content .store__title {
  color: #079d56;
  margin: 0 0 24px;
  font-family: Averta Std, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.store__content .default__desc {
  color: #fff;
  margin: 0 0 48px;
  font-family: Averta Std, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}
.store__icone svg {
  height: 50px;
}
.contact__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.contact__container .default__title {
  color: #fff;
  text-align: center;
  margin: 24px 0;
}
.contact__container .default__desc {
  color: #fff;
  text-align: center;
  margin-bottom: 64px;
}
.contact__container .tag {
  background-color: #ffffff29;
}
.contact__container .tag__text {
  color: #fff;
}
.contact__form {
  background: #079d56;
  border-radius: 16px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
  padding: 48px;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.contact__form .form-gap {
  flex-wrap: wrap;
  justify-content: center;
}
.contact__form .input_wrap {
  width: 100%;
  max-width: 339px;
}
.contact__form .input_wrap input {
  color: #fff;
  background: 0 0;
  border: 1px solid #f6f6f6;
  border-radius: 8px;
  width: 100%;
  font-size: 20px;
}
.contact__form .input_wrap label {
  color: #fff;
}
.contact__form .input_wrap label img {
  filter: brightness(0) invert();
}
.contact__form .input_checkbox {
  justify-content: center;
  align-items: flex-start;
  max-width: 762px;
  display: flex;
}
.contact__form .input_checkbox input {
  border: 0;
  border-radius: 4px;
  width: 16px;
  height: 16px;
}
.contact__form .input_checkbox label,
.contact__form .input_checkbox a {
  color: #f6f6f6;
  text-align: center;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.contact__form .button {
  border: none;
}
.video {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.video__container {
  color: #fff;
  justify-content: center;
  gap: 48px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
}
.video__content {
  max-width: 608px;
}
.video__content .button--container {
  gap: 16px;
  display: flex;
}
.video__content .button.no-color {
  color: #fff;
}
.video__content iframe {
  border-radius: 16px;
  margin: 48px 0;
}
.video__title {
  color: #079d56;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.video .default__desc {
  color: #797979;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}
.faq {
  padding: 80px 0;
}
.faq__container {
  justify-content: center;
  gap: 24px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.faq__side {
  max-width: 576px;
}
.faq__side .default__title {
  margin: 24px 0;
}
.faq__side .default__desc {
  margin-bottom: 83px;
}
.faq__content {
  width: 100%;
  max-width: 640px;
}
.faq__content .accordion-item {
  border: none;
  margin-bottom: 16px;
}
.faq__content .accordion-item:last-child {
  margin-bottom: 0;
}
.faq__content .accordion-body {
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.faq__content .accordion-button {
  color: #383838;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.faq__content .accordion-button:focus {
  box-shadow: none;
  border: none;
}
.faq__content .accordion-button:not(.collapsed) {
  color: #079d56;
  background-color: #f4e8f4;
}
.faq__content .accordion-button:after {
  background-image: url(../img/seta.webp);
  background-size: unset;
  width: 10px;
  height: 6px;
}
.micro__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 80px 0;
}
.micro__container .default__desc {
  text-align: center;
  color: #383838;
}
.work {
  z-index: 9999;
  background: #fff9e7;
  position: relative;
}
.work__container {
  color: #fff;
  justify-content: center;
  gap: 48px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
}
.work__content .button--container {
  gap: 16px;
  display: flex;
}
.work__content .button.no-color {
  color: #fff;
}
.work__title {
  color: #079d56;
  margin: 0 0 16px;
  font-family: Averta Std, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.work .default__desc {
  color: #383838;
  text-align: center;
  margin: 0 0 48px;
  font-family: Averta Std, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}
.work .progress__container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  width: 100%;
  margin-bottom: 48px;
  display: flex;
}
.work .progress__container--card {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 114px;
}
.work .progress__container .svg {
  position: relative;
}
.work .progress__container .svg:after {
  content: "";
  z-index: 2;
  background: #fff9e7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work .progress__container .svg img {
  z-index: 5;
  width: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work .progress__container span {
  color: #009168;
  background: #fff;
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 10px;
  padding: 5px 12px;
  display: block;
}
.work .progress__container p {
  text-align: center;
  color: #5db77a;
  margin: 0;
  font-family: Averta Std, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.work .modal.show {
  background-color: #00000080;
}
.footer {
  color: #fff;
  background-color: #1a6a40;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 0;
  display: flex;
}
.footer__container {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.footer__container a {
  color: #fff;
  margin: 0 0 10px;
  font-family: Averta Std, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none;
}
.footer .footer-social {
  margin-top: 20px;
}
.footer .footer-social a {
  margin-right: 15px;
}
.footer .footer-social a:last-child {
  margin-right: 0;
}
@media only screen and (width<=767px) {
  .col-mobile-1 {
    width: 33.3333%;
    margin-right: 16px;
  }
  .col-mobile-1:nth-child(4n) {
    margin-right: 0;
  }
  .col-mobile-2 {
    width: 33.3333%;
    margin-right: 16px;
  }
  .col-mobile-2:nth-child(4n) {
    margin-right: 0;
  }
  .col-mobile-3 {
    width: 33.3333%;
    margin-right: 16px;
  }
  .col-mobile-3:nth-child(4n) {
    margin-right: 0;
  }
  .col-mobile-4 {
    width: 33.3333%;
    margin-right: 16px;
  }
  .col-mobile-4:nth-child(4n) {
    margin-right: 0;
  }
}
@media only screen and (width<=479px) {
  .card-resources__title {
    font-size: 18px;
  }
  .default__title {
    text-align: center;
    font-size: 32px;
    line-height: 1.2em;
  }
  .header__container {
    padding: 0 24px;
  }
  .header .navbar-nav {
    gap: 12px;
    margin: 10px 0;
  }
  .header .nav-link {
    line-height: 1em;
  }
  .header .menu-has-children .submenu {
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    position: relative;
    top: auto;
    left: auto;
  }
  .hero__container {
    flex-direction: column;
    padding: 20px 24px 60px;
  }
  .hero__logo {
    margin-bottom: 16px;
  }
  .hero__content .button--container {
    gap: 8px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 1.2em;
  }
  .hero .default__desc {
    font-size: 18px;
  }
  .resources {
    padding: 60px 0;
  }
  .resources__container {
    padding: 0 24px;
  }
  .resources .default__title {
    font-size: 32px;
    line-height: 1.2em;
  }
  .benefits {
    margin-top: 0;
    padding: 60px 0;
  }
  .benefits__container {
    flex-direction: column;
    padding: 0 24px;
  }
  .benefits__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    display: flex;
  }
  .benefits .default__subtitle {
    font-size: 18px;
  }
  .conditions {
    padding: 60px 0;
  }
  .conditions__container {
    padding: 0 24px;
  }
  .conditions__title {
    font-size: 32px;
    line-height: 1.2em;
  }
  .gallery {
    padding: 60px 0;
  }
  .gallery__container {
    padding: 0 24px;
  }
  .slide__container .arrow-slide {
    display: none !important;
  }
  .location {
    padding: 60px 0;
  }
  .location__container {
    padding: 0 24px;
  }
  .location__content .location__title {
    font-size: 32px;
    line-height: 1.2em;
  }
  .location__content .default__desc,
  .location__content .item p {
    font-size: 18px;
  }
  .store {
    padding: 60px 0;
  }
  .store__container {
    padding: 0 24px;
  }
  .store__content .store__title {
    font-size: 32px;
    line-height: 1.2em;
  }
  .store__content .default__desc {
    font-size: 18px;
  }
  .contact__container {
    padding: 0 24px 60px;
  }
  .contact__container .default__desc {
    margin-bottom: 40px;
  }
  .contact__form {
    padding: 32px;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
  .contact__form .button {
    width: 100%;
  }
  .video__container {
    flex-direction: column;
    padding: 20px 24px 60px;
  }
  .video__content .button--container {
    gap: 8px;
  }
  .video__title {
    font-size: 32px;
    line-height: 1.2em;
  }
  .video .default__desc {
    font-size: 18px;
  }
  .faq__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 0 24px;
  }
  .faq__side {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .faq__side .default__desc {
    margin-bottom: 40px;
  }
  .micro__container {
    padding: 60px 24px;
  }
  .work__container {
    flex-direction: column;
    padding: 20px 24px 60px;
  }
  .work__content .button--container {
    gap: 8px;
  }
  .work__title {
    font-size: 32px;
  }
  .work .default__desc {
    font-size: 18px;
  }
  .footer {
    padding: 60px 24px;
  }
  .footer__container {
    justify-content: flex-start;
  }
}
